<select (change)="changeFoodListFilter($event.target.value)">
  <option value="all">All Foods</option>
  <option value="over500KCal">Greater or Equal to 500 Calories</option>
</select>
<br>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Details</th>
      <th>Calories</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of foodList | caloricContent:foodListFilter">
      <td>{{food.foodName}}</td>
      <td>{{food.foodDetails}}</td>
      <td>{{food.foodCalories}}</td>
      <td><button (click)="startEditFood(food)" class="btn btn-info">Edit</button></td>
      <td><button (click)="startDeleteFood(food)" class="btn btn-warning">Delete</button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td><button (click)="startNewFood()" class="btn btn-primary">New Entry</button></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
