<h2>Food List with Angular 2</h2>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <app-list-food
        [foodList]="foodList"
        (deleteFoodSender)="deleteFood($event)"
        (startNewFoodSender)="startNewFood()"
      ></app-list-food>
    </div> <!-- col -->

    <div class="col-md-6">
      <app-new-food
        [showNewFoodForm]="showNewFoodForm"
        (cancelNewFoodSender)="cancelNewFood()"
        (newFoodSender)="newFood($event)"
      ></app-new-food>
    </div> <!-- col -->

  </div> <!-- row -->
</div> <!-- container -->
